# This workflow will download a prebuilt Ruby version, install dependencies and
# run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '16 4 12 * *'
  workflow_dispatch:

env:
  RUBYOPTS: "--disable-did-you-mean"

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4"]

    steps:
      - uses: actions/checkout@v5
      - name: Install non-ruby dependency
        run: |
          sudo apt-get update
          sudo apt-get install libyaz-dev

          # Needed for live tests
          sudo apt-get install idzebra-2.0-utils
          sudo apt-get install libidzebra-2.0-modules

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run unit tests
        run: bundle exec rake test:unit
      - name: Run integration tests
        run: bundle exec rake test:integration

  lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop -P
      - name: Check manifest
        run: bundle exec rake manifest:check
